<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid ">

    <div class ="text-center"><h1>Add new User</h1></div>
    <form th:action="@{/users/save}"method="post" th:objects="${user}" style="max-width: 500px; margin: 0 auto;">

        <input type="hidden" th:field = "*{id}">

        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-Mail</label>
                <div class ="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required minlength="8" maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class ="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control" required minlength="2" maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last Name:</label>
                <div class ="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control"required minlength="2" maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password:</label>
                <div class ="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control" required minlength="5" maxlength="15"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class ="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}" />
                </div>
            </div>
            <div class = "text-center">

                <button type="submit" class = "btn btn-primary m-2">Save</button>
                <button type="submit" class = "btn btn-secondary m-2" onclick="cancleForm()">Cancel</button>



            </div>

        </div>

    </form>

    <script type="javascript">

        function cancleForm(){

            window.location = "[[@{/users}]]";


        }
    </script>

</div></body>
</html>